/* -------------------- top-sec ------------------- */
.top-sec {
  background: url(../images/top/kinpaku_wall.png) no-repeat top left/80%, url(../images/top/top_wall.jpg) repeat center/11%;
}

.top-intro {
  justify-content: space-between;
  margin-bottom: 2rem;
}
.top-intro .top-intro__logo {
  width: 26.962962963%;
}
.top-intro .top-intro__traveler {
  position: relative;
  width: 35.5555555556%;
  margin-top: 1rem;
  margin-right: 1rem;
}
.top-intro .top-intro__traveler .point {
  position: relative;
  z-index: 1;
  animation: traveler 2s ease-out, traveler2 1s ease-out 2s;
}
@keyframes traveler {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes traveler2 {
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
.top-intro .top-intro__traveler .cloud-a {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 193.3333333333%;
  max-width: none;
}

.top-ttl {
  margin-bottom: 4rem;
  width: 90%;
  margin-inline: auto;
}
.top-ttl .top-ttl__main {
  position: relative;
  z-index: 1;
}
.top-ttl .top-ttl__campain {
  position: relative;
  width: 63.3986928105%;
  margin-inline: auto;
}
.top-ttl .top-ttl__campain .point {
  position: relative;
  z-index: 1;
}
.top-ttl .top-ttl__campain .cloud-b {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%);
  width: 84.3195266272%;
  max-width: none;
}

.top-chosen {
  justify-content: space-between;
  align-items: end;
  gap: 1.5em;
  font-weight: 900;
}
.top-chosen__traveler {
  width: 20%;
  max-width: 44px;
  margin-left: 1em;
  animation: traveler3 2s infinite alternate ease-in-out, traveler4 2s ease-out;
}
@keyframes traveler3 {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes traveler4 {
  from {
    transform: translateX(-100%) rotateZ(-5deg);
  }
  to {
    transform: translateX(0%) rotateZ(5deg);
  }
}
.top-chosen__message {
  line-height: 1.4;
  font-size: 11px;
}
.top-chosen__message #name {
  font-size: 24px;
}

/* -------------------- goshuin-sec ------------------- */
.goshuin-sec {
  background: url(../images/new_top/wall_brown.jpg) repeat;
}

.goshuin-ttl {
  margin-bottom: 8px;
}

.goshuin-stamp {
  position: relative;
}
.goshuin-stamp__area {
  position: relative;
  z-index: 1;
}
.goshuin-stamp__traveler__a {
  z-index: 1;
  position: absolute;
  top: 26.4462809917%;
  right: 6.9970845481%;
  width: 14.8688046647%;
}
.goshuin-stamp__traveler__b {
  z-index: 1;
  position: absolute;
  top: 48.9256198347%;
  left: 2.332361516%;
  width: 12.8279883382%;
}
.goshuin-stamp__cloud__a {
  position: absolute;
  top: 17.520661157%;
  left: -11.6618075802%;
  width: 65.306122449%;
}
.goshuin-stamp__cloud__b {
  position: absolute;
  top: 31.9008264463%;
  right: -8.7463556851%;
  width: 65.306122449%;
}
.goshuin-stamp__cloud__c {
  position: absolute;
  top: 57.520661157%;
  left: -8.7463556851%;
  width: 65.306122449%;
}
.goshuin-stamp__cloud__d {
  position: absolute;
}

/* -------------------- bnr-sec ------------------- */
/* -------------------- footerarea ------------------- *//*# sourceMappingURL=top.css.map */