@charset "utf-8";
$SECTION_SPACE: 2rem;
$base-width:375px * 0.9;


/* -------------------- top-sec ------------------- */
.top-sec{
    background: 
        url(../images/top/kinpaku_wall.png) no-repeat top left / 80%,
        url(../images/top/top_wall.jpg) repeat center / 11%
    ;
}
.top-intro{
    justify-content: space-between;
    margin-bottom: $SECTION_SPACE;

    .top-intro__logo{
        width: (91px / $base-width) * 100%;
    }
    .top-intro__traveler{
        position: relative;
        width: (120px / $base-width) * 100%;
        margin-top: 1rem;
        margin-right: 1rem;

        .point{
            position: relative;
            z-index: 1;

            animation: traveler 2s ease-out, traveler2 1s ease-out 2s;
            
            @keyframes traveler{
                0%{
                    transform: translateX(50%);
                }
                100%{
                    transform: translateX(0);
                }
            }
            @keyframes traveler2{
                50%{
                    transform: translateY(-5%);
                }
                100%{
                    transform: translateY(0);
                }
            }
        }
        .cloud-a{
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: (232px / 120px) * 100%;;
            max-width: none;
        }
    }
}

.top-ttl{
    margin-bottom: $SECTION_SPACE * 2;
    width: 90%;
    margin-inline:auto;

    .top-ttl__main{
        position: relative;
        z-index: 1;
    }
    .top-ttl__campain{
        position: relative;
        width: 388px / 612px * 100% ;
        margin-inline:auto;

        .point{
            position: relative;
            z-index: 1;
        }
        .cloud-b{
            position: absolute;
            top: 100%;
            left: 100%;
            transform: translateX(-50%) translateY(-50%);
            width: (285px / 338px) * 100%;;
            max-width: none;
        }
    }

}

.top-chosen{
    justify-content: space-between;
    align-items: end;
    gap: 1.5em;
    font-weight: 900;


    &__traveler{
        width: 20%;
        max-width: 44px;
        margin-left: 1em;
        
        animation: traveler3 2s infinite alternate ease-in-out, traveler4 2s ease-out;

        @keyframes traveler3 {
          from {
            transform: rotateZ(-5deg);
          }
          to {
            transform: rotateZ(5deg);
          }
        }
        @keyframes traveler4{
            from{
                transform: translateX(-100%) rotateZ(-5deg);
            }
            to{
                transform: translateX(0%) rotateZ(5deg);
            }
        }
    }
    &__message{
        line-height: 1.4;
        font-size: 11px;

        #name{
            font-size: 24px;
        }

    }
}

/* -------------------- goshuin-sec ------------------- */
.goshuin-sec {
    background: url(../images/new_top/wall_brown.jpg) repeat;
}

.goshuin-ttl {
    margin-bottom: 8px;
}

.goshuin-stamp {
    $stamp_height: 605px;
    $stamp_width: 343px;
  
    position: relative;
  
    &__area {
        position: relative;
        z-index: 1;
    }
  
    @mixin absolute_pos_right($top, $right, $width) {
      position: absolute;
      top: #{$top / $stamp_height * 100%};
      right: #{$right / $stamp_width * 100%};
      width: #{$width / $stamp_width * 100%};
    }
  
    @mixin absolute_pos_left($top, $left, $width) {
      position: absolute;
      top: #{$top / $stamp_height * 100%};
      left: #{$left / $stamp_width * 100%};
      width: #{$width / $stamp_width * 100%};
    }
  
    &__traveler__a {
        z-index: 1;
        @include absolute_pos_right(160px, 24px, 51px);
    }
  
    &__traveler__b {
        z-index: 1;
        @include absolute_pos_left(296px, 8px, 44px);
    }
  
    &__cloud__a {
        @include absolute_pos_left(106px, -40px, 224px)
    }

    &__cloud__b {
        @include absolute_pos_right(193px, -30px, 224px);
    }
    &__cloud__c {
        @include absolute_pos_left(348px, -30px, 224px)
    }
    &__cloud__d {position: absolute;}
  }







.goshuin-stamp__ship {
}

.goshuin-stamp__ship__main {
}

.goshuin-stamp__ship__cloud {
}

.goshuin-btn {
}

.goshuin-btn__message {
}

.g-caption {
}

.ja {
}

.en {
}

.goshuin-btn__main {
}

.g-btn__main {
}

.__brown {
}

.goshuin-btn__car {
}

.goshuin-btn__car__main {
}

.goshuin-btn__car__cloud {
}


@media screen and (min-width: 768px){
  
}
@media screen and (max-width: 767px){
  
}
/* -------------------- bnr-sec ------------------- */

@media screen and (min-width: 768px){
  
}
@media screen and (max-width: 767px){
  
}
/* -------------------- footerarea ------------------- */

@media screen and (min-width: 768px){
  
}
@media screen and (max-width: 767px){
  
}
